@using System.ComponentModel.DataAnnotations
@model System.Collections.Generic.List<LigaAlgorytmicznaSPOJNetCore.Models.Problem>

@{
    ViewBag.Title = "Program";
    Layout = "~/Views/Shared/MenuLayout.cshtml";
}
@if (User.Identity.GetUserisConfirmed())
{

<h2>Lista Problemów</h2>
<div>
    <a href="ClassicalProblems" target="_blank">Angielski Spoj</a>
    <a href="GetPolishProblems" target="_blank">Polski Spoj</a>
</div>
<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nazwa</th>
                <th>Jakość</th>
                <th>Trudność</th>
                <th>Acc</th>
                <th>Link</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var problem in Model)
            {
                <tr>
                    <td>@problem.Id</td>

                    <td> <a href="https://@problem.Link" target="_blank">@problem.Name</a></td>


                    @*<td>@Html.ActionLink(problem.Name, "GetDetailProblemInfo", "Shared", new { link = problem.Link }, null)</td>*@
                    <td>@problem.Quality</td>
                    <td>@problem.Difficulty</td>
                    <td>@problem.Acc</td>
                    <td>@problem.Link</td>


                    <td>

                        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#@problem.Id">
                            <span>+</span>
                        </button>


                    </td>
                </tr>
                using (@Html.BeginForm("AddExerciseToDb", "Administrator", FormMethod.Post))
                {
                    <div class="modal fade" id="@problem.Id" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">



                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h3 class="modal-title">Dodawanie zadania do wykonania</h3>
                                </div>
                                @Html.TextBox("IdExercise", problem.Id, new { @hidden = "hidden" })
                                @Html.TextBox("Name", problem.Link, new { @hidden = "hidden" })
                                <div class="form-group">
                                    <h4>Maksymalna ilość pkt za zadanie</h4>
                                    <p></p>
                                    @Html.TextBox("Score", "", new { placeholder = "Maksymalna ilość pkt do uzyskania", @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    <h3>Do kiedy wykonac</h3>
                                    @Html.TextBox("DateToDo", "", new { placeholder = "Data", type = "date", @class = "form-control" })





                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
                                <button type="submit" class="btn btn-default" value="Dodaj to zadanie">Dodaj Zadanie</button>

                            </div>




                        </div>
                    </div>
                }
            }


        </tbody>

    </table>
</div>
}


