﻿@using LigaAlgorytmicznaSPOJNetCore.Models
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="menu">
    @if (User.IsInRole("Student"))
    {
       if (User.Identity.GetUserisConfirmed())
        {

        
        <a href="@Url.Action("ToDo", "Student")" id="one-menu">To Do<span class="glyphicon glyphicon-envelope"></span></a>
        <a href="@Url.Action("GetViewMarkWithExercise", "Student")" id="two-menu">Ocenione <span class="glyphicon glyphicon-asterisk    "></span></a>
        @*<a href="@Url.Action("ProblemsResolve", "Student")" id="three-menu">Rozwiązane <span class="glyphicon glyphicon-saved"></span></a>*@
        <a href="@Url.Action("RankingView", "Student")" id="three-menu">Ranking <span class="glyphicon glyphicon-signal"></span></a>

        @*<a href="@Url.Action("ResultProblem", "Student")" id="three-menu">WynikiProblemu <span class="glyphicon glyphicon-pencil"></span></a>*@
        @*<a href="@Url.Action("ClassicalProblems", "Shared")" id="six-menu">Zadania <span class="glyphicon glyphicon-search"></span></a>*@
        <a href="@Url.Action("PersonalData", "Student")" id="four-menu">Moje dane <span class="glyphicon glyphicon-user"></span></a>
        }
    }
    else if (User.IsInRole("Administrator"))
    {
        <a href="@Url.Action("ShowExercisesToDo", "Administrator")" id="one-menu">Zadania <span class="glyphicon glyphicon-pencil"></span></a>
        <a href="@Url.Action("ShowPersons", "Administrator")" id="two-menu">Członkowie <span class="glyphicon glyphicon-user"></span></a>
        @*<a href="@Url.Action("ClassicalProblems", "Shared")" id="three-menu">SPOJ <span class=" glyphicon glyphicon-search"></span></a>*@
        <a href="@Url.Action("RankingView", "Administrator")" id="three-menu">Ranking<span class="glyphicon glyphicon glyphicon-signal"></span></a>
        <a href="@Url.Action("ManagePoints", "Administrator")" id="four-menu">Punktacja<span class="glyphicon glyphicon glyphicon-signal"></span></a>
        <a href="@Url.Action("PersonalData", "Administrator")" id="five-menu">Moje Dane<span class="glyphicon glyphicon glyphicon-signal"></span></a>

    }

    @using (Html.BeginForm("LogOff", "Home", FormMethod.Post, new { id = "logout-menu" }))
    {
        @Html.AntiForgeryToken()
        <a href="javascript:document.getElementById('logout-menu').submit()" id="logout-menu">Wyloguj <span class="glyphicon glyphicon-off"></span></a>
    }
</div>
<div class="panel main-panel">
    <div class="panel-body">
        <div class="row">
            @RenderBody()
            <div class="footer">
                <p>Zalogowano: @User.Identity.GetUserFirstname() <span class="glyphicon glyphicon-globe"></span> @DateTime.Now.ToString("dddd, MM.dd.yyyy")</p>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @RenderSection("Scripts", required: false)

}