﻿@model LigaAlgorytmicznaSPOJNetCore.Models.ApplicationUser
@{
    ViewBag.Title = "Moje dane";
    Layout = "~/Views/Shared/MenuLayout.cshtml";

    var role = "Student";

    if (User.IsInRole("Student"))
    {
        role = "Student";

    }
    else if (User.IsInRole("Administrator"))
    {
        role = "Administrator";
    }
}

<div class="col-md-12 col-sm-12 col-xs-12">
    <h2>Moje dane</h2>
    <p>Imię: @Model.FirstName</p>
    <p>Nazwisko: @Model.LastName</p>
    @if (Model.Gender == "Man")
    {
        <p>Płeć: Mężczyzna</p>
    }
    else
    {
        <p>Płeć: Kobieta</p>
    }
    <br />

    <p>Nr Albumu: @Model.AlbumNumber</p>
    <p>Data urodzenia: @Model.BirthDate.Value.ToString("dd.MM.yyyy")</p>
    <br />
    <p>Telefon: @Model.PhoneNumber</p>
    <p>E-mail: @Model.Email</p>
</div>

<div class="col-md-4 col-sm-6 col-xs-12">
    <input class="btn btn-primary btn-lg btn-block" type="button" data-toggle="modal" data-target="#newMessageModal" value="Edytuj dane" />
</div>

<div class="col-md-4 col-sm-6 col-xs-12">
    <input class="btn btn-primary btn-lg btn-block" type="button" data-toggle="modal" data-target="#MessageModal" value="Zmień hasło" />
</div>
@using (Html.BeginForm("ChangePassword", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="modal fade" id="MessageModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <h1>Zmień hasło</h1>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                            @Html.TextBox("Haslo","", new { placeholder = "Haslo", type = "text", maxlength = "12", @class = "form-control", required = "required" })
                            @Html.TextBox("NoweHaslo","", new { type = "text", placeholder = "NoweHaslo", @class = "form-control", required = "required" })
                        </div>

                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <input class="btn btn-primary btn-lg btn-block" type="submit" value="Zmień" />
                            <input class="btn btn-primary btn-lg btn-block" type="button" value="Zamknij" data-dismiss="modal" />

                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

}

@using (Html.BeginForm("EditPersonalData", role, FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="modal fade" id="newMessageModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <h1>Edycja danych</h1>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                       <div class="form-group">
                            @Html.TextBoxFor(m => m.PhoneNumber, new { placeholder = "Telefon", type = "text", maxlength = "12", @class = "form-control", required = "required" })
                            @Html.TextBoxFor(m => m.Email, new { type = "email", placeholder = "E-mail", @class = "form-control", required = "required" })
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <input class="btn btn-primary btn-lg btn-block" type="submit" value="Zmień" />
                            <input class="btn btn-primary btn-lg btn-block" type="button" value="Zamknij" data-dismiss="modal" />
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

}

@RenderBody()
