﻿.div {
    display: flex;
}
body {
    background-color: rgb(230, 230, 230);
    font-family: Verdana, sans-serif;
}

    body p {
        font-size: 16px;
    }

img {
    display: block;
    margin: 0 auto;
}

.home-panel {
    max-width: 700px;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px rgb(200, 200, 200);
    margin: 15% auto;
}

    .home-panel h1, .main-panel h1 {
        font-size: 20px;
        text-align: center;
    }

h1, h2, h3, h4 {
    text-align: center;
}

td, th, tr {
    text-align: center;
    vertical-align: middle;
    text-size-adjust: auto;
}
table {
margin-top: 3%;
}
.home-panel p {
    text-align: justify;
}



#Gender {
    resize: none;
    background-color: rgb(240, 240, 240);
    color: rgb(0, 0, 0);
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
    outline: none;
    margin-top: 10px;
    text-align: center;
}

.form-group [type=email], .form-group [type=password], .form-group [type=text], .form-group [type=date], .form-group textarea, .dropdown-list {
    resize: none;
    background-color: rgb(240, 240, 240);
    color: rgb(0, 0, 0);
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
    outline: none;
    margin-top: 10px;
    text-align:center;
}
.form-group-left [type=email], .form-group-left [type=password], .form-group-left [type=text], .form-group-left [type=date], .form-group-left textarea {
    resize: none;
    background-color: rgb(240, 240, 240);
    color: rgb(0, 0, 0);
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
    outline: none;
    margin-top: 10px;
    text-align: left;
}
.form-group-left [type=email], .form-group-left [type=password], .form-group-left [type=text], .form-group-left [type=date] {
    height: 50px;
}
.form-group [type=email], .form-group [type=password], .form-group [type=text], .form-group [type=date], .form-group [type=Gender] {
    height: 50px;
}

 .form-group [type=button], .form-group [type=select] {
    height: 50px;
    font-size: 20px;
    margin-top: 10px;
    padding-left:100px;
    margin-left: 600px;
}
.form-group [type=submit] {
    height: 50px;
    font-size: 20px;
    margin-top: 10px;
}

.buttonplus {
    height: 4px;
    width: 6px;
    text-align: center;
    color: red;
}

.link {
    color: rgb(50, 50, 255);
    font-size: 16px;
    text-align: center;
    display: block;
    margin: 0 auto;
}

    .link:hover {
        color: rgb(50, 50, 255);
        font-weight: bold;
        text-decoration: none;
    }

.inline-link {
    display: inline;
}

.radio {
    font-size: 16px;
}

#menu a {
    width: 140px;
    color: rgb(255, 255, 255);
    border-radius: 0 5px 5px 0;
    font-size: 20px;
    text-align: left;
    padding: 15px;
    position: absolute;
    left: 0px;
    transition: 0.3s;
    text-decoration: none;
    z-index: 2;
}

 

#one-menu {
    top: 20px;
    background-color: brown;
}

#two-menu {
    top: 90px;
    background-color: darkblue;
}

#three-menu {
    top: 160px;
    background-color: darkgreen;
}

#four-menu {
    top: 230px;
    background-color: peru;
}

#five-menu {
    top: 300px;
    background-color:saddlebrown;
}

#six-menu {
    top: 300px;
    background-color: crimson;
}

#seven-menu {
    top: 370px;
    background-color: darkviolet;
}

#logout-menu {
    top: 440px;
    background-color: rgb(100, 100, 100);
}

.main-panel {
    border-radius: 10px;
    box-shadow: 0 0 10px 5px rgb(200, 200, 200);
    display: block;
    margin: 5% auto;
    margin-left: 100px ;
}

.main-tab a, .main-tab th, .main-tab td {
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-align: center;
    cursor: pointer;
}

.notifications {
    margin: 2% 0;
}

.footer {
    background-color: rgb(200, 200, 200);
    color: rgb(0, 0, 0);
    text-align: center;
    position: fixed;
    padding: 5px;
    left: 0;
    bottom: 0;
    width: 100%;
}

.tooltip.fade {
    white-space: pre-wrap;
}
.xsbtn-reject {
    height: auto;
    width: auto;
    text-align: center;
    background-color: red;
    color: white;
    border-radius:8px;
}
.xsbtn-accept {
    height: auto;
    width: auto;
    text-align: center;
    background-color: darkgreen;
    color: white;
    border-radius: 8px;
}
.form-group-xs [type=submit] {
    height: auto;
    margin-top: auto;
}