﻿@model LigaAlgorytmicznaSPOJNetCore.Areas.Identity.Pages.Account.ForgotPasswordModel.InputModel
@{
    ViewData["Title"] = "Zapomniałeś hasła?";
}

<h2>@ViewData["Title"]</h2>
<h4>Wpisz swój Email</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Resetuj</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}