@model IndexViewModel
@{
    ViewBag.Title = "Logowanie";
}

<div class="panel home-panel">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h1 title="Nazwa instytucji, do której się logujesz">Liga Algorytmiczna ATH w Bielsku-Białej</h1>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12">
                <img src="/images/logoPucharpx.png" alt="Logo w rozmiarze 300 na 300 pikseli" title="Logo w rozmiarze 300 na 300 pikseli">
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12">
                @using (Html.BeginForm("Index", "Home", new { ViewBag.ReturnUrl }, FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group-left">
                        @Html.TextBoxFor(m => m.Email, new { placeholder = "E-mail", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        @Html.PasswordFor(m => m.Password, new { placeholder = "Hasło", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                        <input class="btn btn-primary btn-lg btn-block" type="submit" value="Zaloguj" />
                    </div>
                }
                </br>
                <div class="col-md-12 col-sm-6 col-xs-12">
                    @Html.ActionLink("Resetuj hasło", "ForgotPassword", "Home", new object { }, new { @class = "link" })
                </div>
                <div class="col-md-12 col-sm-6 col-xs-12 link">
                    @Html.ActionLink("Zarejestruj", "Register", "Home", new object { }, new { @class = "link" })
                </div>
            </div>
        </div>
    </div>
</div>
