﻿@model LigaAlgorytmicznaSPOJNetCore.Models.RegisterModel.InputModel
@{
    ViewData["Title"] = "Register";
}
<head>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script>    var onLoadCallback = function () {
            grecaptcha.render('divcaptch', {
                'sitekey': '6LeIxAcTAAAAAGG-vFI1TnRWxMZNFuojJ4WifJWe',
                'callback': function(response) { $('#txtcaptcha').val('t') }
            })
        }

    </script>
</head>

<div class="col-md-12 col-sm-12 col-xs-12">

    @*<h2>@ViewData["Title"]</h2>*@

    <v class="col-md-6">
        @*<form asp-route-returnUrl="@Model.ReturnUrl" method="post">*@
        @using (Html.BeginForm("Register", "Home", FormMethod.Post,
                               new { enctype = "multipart/form-data" }))
        {
            <h4>Utwórz nowe konto.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nick"></label>
                <input asp-for="Nick" class="form-control" />
                <span asp-validation-for="Nick" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName "></label>
                <input asp-for="FirstName " class="form-control" />
                <span asp-validation-for="FirstName " class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="LastName "></label>
                <input asp-for="LastName " class="form-control" />
                <span asp-validation-for="LastName " class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Id_Album "></label>
                <input asp-for="Id_Album " class="form-control" />
                <span asp-validation-for="Id_Album " class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirthDate "></label>
                <input asp-for="BirthDate " class="form-control" />
                <span asp-validation-for="BirthDate " class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender "></label>
                @Html.DropDownListFor(Model => Model.Gender, new SelectList(new List<string>() { Gender.Man.ToString(), Gender.Woman.ToString() }), "---Wybierz Płeć---", new { @class = "dropdownlist" })

                <span asp-validation-for="Gender " class="text-danger"></span>
            </div>

            
            <div class="form-group">
                @Html.CheckBoxFor(x => x.TermsAndConditions)
                @Html.LabelFor(x => x.TermsAndConditions)
                @Html.ValidationMessageFor(x => x.TermsAndConditions)
            </div>
            <div class="form-group">
                @Html.CheckBoxFor(x => x.Rules)
                @Html.LabelFor(x => x.Rules)
                @Html.ValidationMessageFor(x => x.Rules)
            </div>
            <div class="form-group">
                @*<input type="text" name="CaptchaCode" />*@

                <div class="g-recaptcha" data-sitekey="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI"></div>
                @*<input id="txtcaptcha" type="text" style="display:none" required />*@

            </div>

            <button type="submit" class="btn btn-primary">Zarejestruj</button>


        }

</div>
</div>
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
