﻿@model ResetPasswordViewModel

<h1>Zresetuj hasło</h1>

<form asp-controller="Home"
      asp-action="ResetPassword"
      method="post">

    <input type="hidden" asp-for="Token" />
    <table>
        <tr>
            <td>@*<label asp-for="UserName"></label>*@E-mail</td>
            <td><input asp-for="UserName" /></td>
        </tr>
        <tr>
            <td>
                <label asp-for="Password">
Nowe hasło
                </label>
            </td>
            <td><input asp-for="Password" /></td>
        </tr>
        <tr>
            <td>
                <label asp-for="ConfirmPassword">
Potwierdź hasło
                </label>
            </td>
            <td><input asp-for="ConfirmPassword" /></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit"
                       value="Zresetuj hasło" />
            </td>
        </tr>
    </table>

    <div asp-validation-summary="All"></div>

</form>