@model System.Collections.Generic.List<LigaAlgorytmicznaSPOJNetCore.Models.ProblemWithLink>

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/MenuLayout.cshtml";

    int i = -5;
    int d = 0;
}
<div>

    <h2>Rozwiązane Zadania</h2>
 
</div>

<div>
    
    <a href="ProblemsResolve" target="_blank">Angielski SPOJ</a>
    <a href="GetPolishResolveProblems" target="_blank">Polski SPOJ</a>
 
</div>
    ProblemsResolve
    @*@foreach (var exercise in Model)
        {
            //  <a href="@exercise.Link"><p>@exercise.Text</p></a>
            if (@exercise.Text == "")
            {
                exercise.Text = "DUPA";
            }
            <br>
            @Html.ActionLink(@exercise.Text, "ResultProblem", "Student", new {link = exercise.Link}, null)
            ;
            <br>*@
    @*}*@

    <div class="container">
        <table class="table table-striped">
            @*<thead>
                <tr>
                    <th>Problem</th>
                    <th>Wynik</th>
                    <th>Data Wykonania</th>
                    <th>Zużyta Pamięć</th>
                    <th>Czas wykonania</th>
                    <th>Język</th>
                </tr>
                </thead>*@
            <tbody>
                @for (int l = 0; l < Model.Count / 5; l++)
                {

                    i = i + 5;
                    d = i + 5;
                    if (Model.Count < d)
                    {
                        d = Model.Count;
                    }
                    <tr>
                        @for (int k = i; k < d; k++)
                        {

                            if (@Model[k].Text == "")
                            {

                                @*<td></td>*@
                                Model[k].Text = "Other";
                            }
                            else
                            {

                            }
                            <td>@Html.ActionLink(Model[k].Text, "ResultProblem", "Student", new { link = Model[k].Link }, null)</td>

                        }


                    </tr>
                }




            </tbody>
        </table>
    </div>
