﻿@model System.Collections.Generic.List<LigaAlgorytmicznaSPOJNetCore.Models.ResultProblem>

@{
    ViewBag.Title = "Program";
    Layout = "~/Views/Shared/MenuLayout.cshtml";
}
<div class="col-md-12 col-sm-12 col-xs-12">

    <h2>Sczegóły Rozwiązania</h2>

    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Problem</th>
                    <th>Wynik</th>
                    <th>Data Wykonania</th>
                    <th>Zużyta Pamięć</th>
                    <th>Czas wykonania</th>
                    <th>Język</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var exercise in Model)
                {
                    <tr>
                        <td>@exercise.Problem</td>
                        <td>@exercise.Result</td>
                        <td>@exercise.Date</td>
                        <td>@exercise.Memory</td>
                        <td>@exercise.Time</td>
                        <td>@exercise.Lang</td>
                    </tr>
                }


            </tbody>
        </table>
    </div>
</div>