﻿
@model System.Collections.Generic.List<LigaAlgorytmicznaSPOJNetCore.Models.Exercise>
@{
    ViewBag.Title = "Program";
    Layout = "~/Views/Shared/MenuLayout.cshtml";
}


<div class="col-md-12 col-sm-12 col-xs-12">
    <h2>Zadania do zrobienia</h2>
    @if (!User.Identity.GetUserisConfirmed())
    {
        <h2>Oczekuj na akceptacje administratora</h2>

    }
    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nazwa Problemu</th>
                    <th>Do kiedy</th>

                    <th>Maks ilość pkt</th>
                    <th>Możliwe do zdobycia</th>
                    <th>Potwierdź Wykonanie</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var Exercise in Model)
                {

                    @using (Html.BeginForm("Evaluate", "Student", new { ExerciseId = Exercise.Id }, FormMethod.Post))
                    {
                        <tr>
                            @*<td>@Html.ActionLink(ExerciseWithMark.Exercise.Name, "ResultProblem", "Student", new { link = "www.spoj.com/status/"+@User.Identity.GetUserNick()+=+ ExerciseWithMark.Exercise.Name }, null)</td>*@
                            <td><a href="https://www.spoj.com/problems/@Exercise.Name">@Exercise.Name</a></td>
                            <td>@Exercise.DateToDo</td>
                            <td>@Exercise.MaxScore</td>
                            <td>@Exercise.Score</td>
                            <td>
                                @if (User.Identity.GetUserisConfirmed())
                                {
                                    @if (!Exercise.isScored)
                                    {

                                        <div class="form-group-xs">
                                            <input class="btn btn-primary " type="submit" value="Potwierdź" />
                                        </div>

                                    }
                                    else
                                    {
                                        <p>Oceniono</p>
                                    }
                                }
                                else
                                {
                                    <p>Niezaakceptowany</p>

                                }
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
