﻿@model LigaAlgorytmicznaSPOJNetCore.Models.Exercise

@{
    Layout = "~/Views/Shared/MenuLayout.cshtml";
}

<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddExercise</title>
</head>
<div class="col-md-12 col-sm-12 col-xs-12">
    <h2>Dodaj Zadanie</h2>
    @using (Html.BeginForm("AddExerciseToDB", "Administrator", FormMethod.Post))
    {
        <center>
            @Html.AntiForgeryToken()

            <hr />



            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { placeholder = "Name", @class = "form-control", } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })

                </div>
            </div>

            <div class="form-group">
                @Html.Label("Czas do wykonania")
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.DateToDo, new { placeholder = "Data", type = "date", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.DateToDo, "", new { @class = "text-danger" })
                </div>
            </div>
                
            <div class="form-group">
                @Html.Label("Czas od kiedy studenci zobaczą zadanie")
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.DateWhenShowForUsers, new { placeholder = "Data", type = "date", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.DateWhenShowForUsers, "", new { @class = "text-danger" })
                </div>
            </div>




            <div class="form-group">
                @Html.Label("Ilość pkt do zddobycia"))
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Score, new { placeholder = "Score", @class = "form-control"  })
                    @Html.ValidationMessageFor(model => model.Score, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Dodaj" class="btn btn-primary" />
                </div>
            </div>
        </center>

    }

    <div>
        @Html.ActionLink("Wróc", "ShowExercisesToDo")
    </div>
</div>
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }




