﻿@model System.Collections.Generic.List<LigaAlgorytmicznaSPOJNetCore.Models.StudentAndMark>
@{
    ViewBag.Title = "Program";
    Layout = "~/Views/Shared/MenuLayout.cshtml";
}
@{

    int i = 0;

}
<div class="col-md-12 col-sm-12 col-xs-12">

    <h1>
        Zarządzaj Ocenami za zadanie
    </h1>

    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nick</th>
                    <th>Płeć</th>
                    <th>Punkty</th>
                    <th>Nazwa Zadania</th>
                    <th>Zmień Ocene</th>

                </tr>
            </thead>
            <tbody>

                @foreach (var person in Model)
                {
                    <tr>
                        <td>@person.User.Nick</td>
                        @if (person.User.Gender == "Man")
                        {
                            <td>
                                M
                            </td>

                        }
                        else
                        {
                            <td>
                                K
                            </td>
                        }



                        <td>
                            @if (@person.Mark == null)
                            {
                                @(0)
                            }
                            else
                            {
                                @person.Mark.Score
                            }

                        </td>
                        <td>
                            @Html.ActionLink(@person.NameExcercise, "ResultProblem", "Student", new { link = "www.spoj.com/status/" + person.NameExcercise + "," + person.User.Nick + "/" }, null)
                        </td>
                        <td>
                            @if (@person.Mark == null)
                            {
                                using (@Html.BeginForm("AddMyGrades", "Administrator", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal+@i">
                                        Wystaw
                                    </button>
                                    <div class="modal fade" id="myModal+@i" role="dialog">
                                        <div class="modal-dialog">
                                            @(++i)
                                            <div class="modal-content">

                                                <h1>Zmiana Punktów</h1>
                                                <div class="col-md-12 col-sm-12 col-xs-12">

                                                    @Html.TextBox("IdExercise", person.IdExercise, new { @hidden = "hidden" })
                                                    @Html.TextBox("IdPerson", person.User.Id, new { @hidden = "hidden" })
                                                    <div class="form-group">
                                                        @Html.Label("Nowe punkty", null)
                                                        @Html.TextBox("Score", null)
                                                    </div>

                                                </div>

                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Zamknij</button>
                                                    <button type="submit" class="btn btn-primary" value="Dodaj Ocene">Zatwierdź ocene</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }

                            }
                            else
                            {
                                using (@Html.BeginForm("AddMyGrades", "Administrator", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal+@i">
                                        Edytuj
                                    </button>
                                    <div class="modal fade" id="myModal+@i" role="dialog">
                                        <div class="modal-dialog">
                                            @(++i);
                                            <!-- Modal content-->
                                            <div class="modal-content">



                                                <div class="modal-head  er">
                                                    <div class="form-group">
                                                        <h1 class="modal-title">Zmiana Punktów</h1>
                                                        @Html.TextBox("IdExercise", person.IdExercise, new { @hidden = "hidden" })
                                                        @Html.TextBox("IdPerson", person.User.Id, new { @hidden = "hidden" })
                                                        @Html.Label("Score", null)

                                                        @Html.TextBox("Score", null)
                                                    </div>


                                                </div>

                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Zamknij</button>
                                                    <button type="submit" class="btn btn-primary" value="Dodaj Ocene">Zatwierdź ocene</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </td>
                    </tr>
                }


            </tbody>
        </table>
        @using (@Html.BeginForm("DeleteExercise", "Administrator", new { IdExercise = Model.First().IdExercise }, FormMethod.Post ))
        {
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Usuń Zadanie</button>
            </div>
        }


    </div>
    </div>
