﻿

@model LigaAlgorytmicznaSPOJNetCore.Models.Points

@{
    Layout = "~/Views/Shared/MenuLayout.cshtml";
}

<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ustaw punkty</title>
</head>
<div class="col-md-12 col-sm-12 col-xs-12">

    @using (Html.BeginForm("ManagePoints", "Administrator", FormMethod.Post))
    {
        <center>
            @*@Html.AntiForgeryToken()*@

            <h2>Zarządzaj punktacją</h2>



            <div class="form-group">
                @Html.Label("%Pkt dla studenta 1")
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PointsForTheBest[0], new { htmlAttributes = new {name="first", placeholder = "punktacja", @class = "form-control", } })
                    @*@Html.ValidationMessageFor(model => model., "", new { @class = "text-danger" })*@
                </div>
            </div>

            <div class="form-group">
                @Html.Label("%Pkt dla studenta 2")
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.PointsForTheBest[1], new { name = "second", placeholder = "punktacja", @class = "form-control" })
                    @*@Html.ValidationMessageFor(model => model.DateToDo, "", new { @class = "text-danger" })*@
                </div>
            </div>

            <div class="form-group">
                @Html.Label("%Pkt dla studenta 3")
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.PointsForTheBest[2], new { name = "third", placeholder = "punktacja", @class = "form-control" })
                    @*@Html.ValidationMessageFor(model => model.DateWhenShowForUsers, "", new { @class = "text-danger" })*@
                </div>
            </div>
            <div class="form-group">
                @Html.Label("%Pkt dla pozostałych")
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.PointsForTheBest[3], new { name = "other", placeholder = "punktacja", @class = "form-control" })
                    @*@Html.ValidationMessageFor(model => model.DateWhenShowForUsers, "", new { @class = "text-danger" })*@
                </div>
            </div>



            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input class="btn btn-primary btn-lg btn-block" type="submit" value="Zapisz" />
                </div>
            </div>
        </center>

    }
    </div>



        @section Scripts {
            <partial name="_ValidationScriptsPartial" />
        }






