﻿@model System.Collections.Generic.List<LigaAlgorytmicznaSPOJNetCore.Controllers.UserRanking>
@{
    ViewBag.Title = "Program";
    Layout = "~/Views/Shared/MenuLayout.cshtml";
}
<div class="col-md-12 col-sm-12 col-xs-12">
    <h2>Ranking</h2>

    <div class="container">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nick</th>
                    <th>Ilość ocenionych zadań</th>
                    <th>Wynik</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var userWithRanking in Model)
                {
                    <tr>

                        <td>
                            @Html.ActionLink(@userWithRanking.User.Nick, "UserInformationAndProblemResolvedAsync", "Administrator", new { nick = @userWithRanking.User.Nick }, null)
                        </td>
                        <td>@userWithRanking.Marks.Count</td>
                        <td>@userWithRanking.Score</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
