﻿@model System.Collections.Generic.List<LigaAlgorytmicznaSPOJNetCore.Models.ApplicationUser>
@{
    ViewBag.Title = "Program";
    Layout = "~/Views/Shared/MenuLayout.cshtml";
}
<div class="col-md-12 col-sm-12 col-xs-12">

    <h2>Lista Członków</h2>

    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nazwisko</th>
                    <th>Imie</th>
                    <th>Nick</th>
                    <th>Płeć</th>
                    <th>Akceptuj</th>
                    <th>Odrzuc</th>


                </tr>
            </thead>
            <tbody>
                @foreach (var person in Model.OrderBy(x => x.isConfirmed))
                {
                    <tr>
                        <td>@person.LastName</td>
                        <td>@person.FirstName</td>
                        <td>
                            @Html.ActionLink(person.Nick, "UserInformationAndProblemResolvedAsync", "Administrator", new { nick = person.Nick }, null)
                        </td>

                        @if (@person.Gender == "Man")
                        {
                            <td>Mężczyzna</td>
                        }
                        else
                        {
                            <td>Kobieta</td>

                        }
                        <td>
                            @if (!person.isConfirmed)
                            {


                                using (Html.BeginForm("AddToGroup", "Administrator", new { idToAdd = person.Id }, FormMethod.Post))
                                {
                                    <div class="form-group-xs">
                                        <input type="submit" value="+" class="xsbtn-accept" />
                                    </div>
                                }
                            }

                        </td>
                        <td>
                            @if (!person.isConfirmed)
                            {


                                using (Html.BeginForm("DeleteUserFromGroup", "Administrator", new { idToDelete = person.Id }, FormMethod.Post))
                                {
                                    <div class="form-group-xs">
                                        <input type="submit" value="-" class="xsbtn-reject" />
                                        @*<span class="glyphicon glyphicon-minus"></span>*@
                                    </div>

                                }


                            }
                            else
                            {
                                using (Html.BeginForm("DeleteUserFromGroup", "Administrator", new { idToDelete = person.Id }, FormMethod.Post))
                                {
                                    <div class="form-group-xs">
                                        <input type="submit" value="Usuń" class="xsbtn-reject" />
                                        @*<span class="glyphicon glyphicon-minus"></span>*@
                                    </div>
                                }
                            }

                        </td>
                    </tr>
                }


            </tbody>
        </table>



</div>
    </div>
