@model System.Collections.Generic.List<LigaAlgorytmicznaSPOJNetCore.Models.Exercise>
@{
    ViewBag.Title = "Program";
    Layout = "~/Views/Shared/MenuLayout.cshtml";
}
<div class="col-md-12 col-sm-12 col-xs-12">

    <h2>Lista Zadanych Problemów</h2>
    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    @*<th>ID</th>*@
                    <th>Problem</th>
                    <th>Data od kiedy aktywne</th>
                    <th>Data do kiedy wykonać</th>
                    <th>Ile pkt do zdobycia</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var exercise in Model)
                {
                <tr>
                    @*<td>@exercise.Id</td>*@
                    <td> <a href="https://www.spoj.com/problems/@exercise.Name" target="_blank">@exercise.Name</a></td>
                    <td>@exercise.DateWhenShowForUsers</td>

                    <td>@exercise.DateToDo</td>
                    <td>@exercise.Score</td>
                    @if (DateTime.Now <= exercise.DateToDo&& DateTime.Now>= exercise.DateWhenShowForUsers)
                    {
                    <td>Trwające</td>  
                    }
                    else if (DateTime.Now > exercise.DateToDo)
                    {
                    <td>Zakończone</td>
                    }
                    else
                    {
                            <td>Zaplanowane</td>
                    }
                    <td>@Html.ActionLink("Zarządzaj", "ManageMark", "Administrator", new { nameOfProblem = exercise.Id }, null)</td>

                </tr>
                }

            </tbody>
        </table>

        <div>
            @Html.ActionLink("Dodaj zadanie", "AddExercise")
        </div>
    </div>
</div>