﻿@model System.Collections.Generic.List<LigaAlgorytmicznaSPOJNetCore.Models.MarkWithExercise>
@{
    ViewBag.Title = "Program";
    Layout = "~/Views/Shared/MenuLayout.cshtml";
}

<div class="col-md-12 col-sm-12 col-xs-12">
    
    @if (@Model != null)
    {

        <div class="container">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nazwa Problemu</th>
                        <th>Maks ilość pkt</th>
                        <th>Uzyskany wynik</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var ExerciseWithMark in Model)
                    {
                        <tr>
                            @*<td>@Html.ActionLink(ExerciseWithMark.Exercise.Name, "ResultProblem", "Student", new { link = "www.spoj.com/status/"+@User.Identity.GetUserNick()+=+ ExerciseWithMark.Exercise.Name }, null)</td>*@

                            <td><a href="https://www.spoj.com/problems/@ExerciseWithMark.Exercise.Name">@ExerciseWithMark.Exercise.Name</td>
                            <td>@ExerciseWithMark.Exercise.MaxScore</td>
                            <td>@ExerciseWithMark.Mark.Score</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <p>Nie ma żadnych ocenionych zadań</p>
    }
</div>

